body {
    height: 100%;
    margin: 0;
    padding: 0;
}

 #header{
    background-color: grey;
    height: 80px;
    width: 100%;
 }

 #TxtHeader{
    padding: 0.65% 2%;
    color: white;
    font-size: 17.5px;
    font-family: 'Brush Script MT', cursive;;
 }

#Lobby{
    text-align: center;
}

#Canvas{
    margin-top: 5%;
    width: 100%;
    display: inline-block;
}

 #glCanvas{
    width: 640px;
    height: 480px;
 }